@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: "Poppins", sans-serif;
    color:#151515;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.auth-input{
    background:#F4F4F4;
    @apply rounded-lg px-4 py-2 text-sm w-full;
}

.auth-main::before{
    content:"";
    background:url('./assets/auth-bg.png') center;
    @apply absolute top-0 left-0 w-full h-full bg-no-repeat -z-10 ;
    background-size:70%;
}


.auth-btn{
    @apply bg-secondary px-4 py-2 rounded-3xl text-white font-bold w-full;
}
.auth-btn:disabled{
    @apply bg-slate-300;
}

.icon-btn{
    @apply flex items-center justify-center rounded-full p-1 cursor-pointer transition-all;
}

.icon-btn:hover{
    @apply bg-secondary text-white;

}

.search{
    @apply border rounded-md w-full pl-10 py-2 bg-backgroundSecondary ;
    @apply focus:border-transparent focus:outline-none;

}


.sidebar {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
  /* Apply styles based on the sidebar state */
.sidebar.closed {
    transform: translateX(-100%);
    opacity: 0;
}

.sidebar.open {
    transform: translateX(0);
    opacity: 1;
}


.message{
    @apply shadow-md flex flex-col px-4 py-2 rounded-md [max-width:50%] font-medium break-words;
}
.message-right{
    background-color: #F4F4F4;
    border: 2px solid #ececec;
    @apply text-textPrimary ;
    
}
.message-right span{
    @apply text-textSecondary;
}

.message-img-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
    grid-gap: 1rem;
    @apply cursor-pointer;
}

.message-left{
    border: 2px solid #017e61;
    @apply bg-secondary text-white;
}
.message-left span{
    color: #fffefecf;
}

.chat-input{
    @apply border px-4 py-3 flex-1 rounded-md bg-backgroundSecondary;
}
.chat-input:focus{
    @apply outline-secondary bg-hover;
}


.slider-custom .slick-arrow::before{
    font-size: 32px;
    @apply text-black ;
}


/* Video Call --------- */
.video-icon-btn{
    /* background: #017e61; */
    padding: 10px;
    @apply flex items-center justify-center cursor-pointer rounded-full;
    @apply text-white;
}